on:
  push:
    branches:
      - main
 
jobs:
  snyk-code:
    environment: snyk
    runs-on: ubuntu-latest
 
    steps:
      - uses: actions/checkout@v2
 
      - uses: snyk/actions/setup@master
 
      - name: Configure Snyk endpoint
        run: snyk config set endpoint=https://api.us.snyk.io
 
      - name: Authenticate with Snyk
        run: snyk auth ${{ secrets.SNYK_TOKEN }}
 
      - name: Snyk Code Test
        continue-on-error: true
        run: snyk code test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
 
      - name: Snyk Open Source Test (SCA)
        continue-on-error: true
        run: snyk test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      - name: Snyk IaC Test
        continue-on-error: true
        run: snyk iac test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
